body {
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

#main-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-card {
  width: 50%;
  height: 70%;
}

.input-form {
  width: 80%;
  margin-bottom: 3%;
  margin-right: 4%;
}

@media only screen and (max-width: 720px) {
  #login-card {
    height: 80%;
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .title {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .main-paper {
    width: 90% !important;
    height: 90% !important;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .message-container {
    border: none !important;
    width: 100% !important;
    align-items: center !important;
    height: 83% !important;
  }
  .sidebar {
    flex-direction: row !important;
    margin-bottom: 5% !important;
    width: 100% !important;
    justify-content: space-evenly !important;
  }
  .sidebar-form {
    width: 90%;
  }
  .forms {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-around !important;
  }
  .logout {
    font-size: 35px !important;
  }
  .label {
    display: none !important;
  }
  .select {
    font-size: 12px !important;
    margin-top: 0% !important;
  }
  .input-form {
    margin-left: 0;
    margin-right: 0;
  }
  .input-form button {
    margin-left: 0 !important;
  }
  .textfield {
    margin-left: 0% !important;
  }
  .textfield input {
    font-size: 12px;
  }
  .users {
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
  .message-container2 {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
}
